*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', sans-serif;
    font-size: 12pt;
    overflow-x: hidden;
}
.base-banner{
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.banner{
    background: url('../img/background/banner.png') no-repeat;
    background-size: cover;
    background-position: 70% 20%;
    /* display: inline-block; */
    float: left;
    width: 50%;
    height: 656px;
    position: relative;
    overflow: hidden;
}
.jumbotron{
    padding: 9% 0;
    float: right;
    width: 50%;
    height: 100%;
}

.center{
    text-align: center;
}
.jumbotron img{
    width: 190px;
    transition: 0.5s all;
}
.jumbotron img:hover{
    padding: 5px 0px;
    transform: rotate(15deg);
}
#jumbotron-text h1{
    cursor: pointer;
    color: #3a4352;
    font-size: 3em;
    letter-spacing: 1px;
    transition: 0.5s all;
}
#jumbotron-text h1:hover{
    padding: 5px 0;
    transform: scale(1.05);
    text-shadow:0 0px 20px #1086db59;
}
#jumbotron-text p{
    color: #8e8e8e;
    transition: 0.5s all;
}
#jumbotron-text p:hover{
    color: black;
}
#social-icon{
    margin: 20px 0px;
    display: block;
}
#social-icon a{
    color: #1086db;
    font-size: 1.30em;
    margin: 0px 10px;
    transition: 0.5s all;
}
#social-icon a:hover{
    color: #3a4352;
}
@media(max-width: 768px){
    .jumbotron{
        display: block;
        float: none;
        padding: 15% 0;
        width: 100%;
    }
    .banner{
        background-position: 50% 0;
        display: block;
        float: none;
        width: 100%;
        height: 556px;
    }
    #jumbotron-text h1{
        margin: 14px auto;
        font-size: 2.75em;
        line-height: 1;
    }
    #jumbotron-text p{
        max-width: 70%;
        margin: 20px auto;
    }
}
