*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', sans-serif;
    font-size: 12pt;
    overflow-x: hidden;
}
.base-banner{
    background: gray;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
}
.filter-banner{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.banner{
    background: url('../img/background/banner.png') no-repeat;
    background-size: cover;
    background-position: 70% 20%;
    /* display: inline-block; */
    float: left;
    width: 50%;
    height: 656px;
    position: relative;
    overflow: hidden;
}
.banner-text-mobile{
   display: none;
}
.jumbotron{
    padding: 10% 0;
    float: right;
    width: 50%;
    height: 100%;
}

.center{
    text-align: center;
}
.jumbotron img{
    width: 190px;
    transition: 0.5s all;
}
.jumbotron img:hover{
    padding: 5px 0px;
    transform: rotate(15deg);
}
#jumbotron-text h1{
    cursor: pointer;
    color: #3a4352;
    font-size: 3em;
    letter-spacing: 1px;
    transition: 0.5s all;
}
#jumbotron-text h1:hover{
    padding: 5px 0;
    transform: scale(1.05);
    text-shadow:0 0px 20px #1086db59;
}
#jumbotron-text p{
    color: #8e8e8e;
    transition: 0.5s all;
}
#jumbotron-text p:hover{
    color: black;
}
#social-icon{
    margin: 20px 0px;
    display: block;
}
#social-icon a{
    color: #1086db;
    font-size: 1.30em;
    margin: 0px 10px;
    transition: 0.5s all;
}
#social-icon a:hover{
    color: #3a4352;
}
@media(max-width: 480px){
    .banner-text-mobile{
        padding: 40% 0!important;
    }
}
@media(max-width: 768px){
    .jumbotron{
        display: block;
        float: none;
        padding: 15% 0;
        width: 100%;
    }
    .banner{
        background-position: 50% 0;
        display: block;
        float: none;
        width: 100%;
        height: 556px;
    }
    .banner-text-mobile{
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        width: 70%;
        height: 100%;
        padding: 32% 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        text-shadow: 0 0 10px #1086db59;
        z-index: 2;
    }
    .banner-text-mobile{
        color: #fff;
    }
    .banner-text-mobile h1{
        font-size: 2.5em;
        letter-spacing: 2px;
        line-height: 1.25;
        text-transform: uppercase;
    }
    .banner-text-mobile p{
        margin: 10px 0px;
    }
    /* Mouse animation */
    @-webkit-keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
    }
    @keyframes scroll-inner {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 50%;
    }
    }
    @-webkit-keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
    }
    @keyframes scroll-mouse {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15px;
    }
    }
    div.mouse-container {
    position: relative;
    display: block;
    height: 100px;
    }
    
    div.mouse {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 50px;
    border: solid 2px #fff;
    border-radius: 25px;
    -webkit-animation: scroll-mouse 1.5s;
    animation: scroll-mouse 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    }
    div.mouse span.scroll-down {
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin: 15% auto auto auto;
    -webkit-animation: scroll-inner 1.5s;
    animation: scroll-inner 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    }
      
   
    #jumbotron-text h1{
        margin: 14px auto;
        font-size: 2.75em;
        line-height: 1;
    }
    #jumbotron-text p{
        max-width: 70%;
        margin: 20px auto;
    }
}
